#orange {
    background-color: orange;
}

.center {
    text-align: center;
}

#logobg{
    background-color: white;
}

#menu-text{
    color: white;
    font-size: 35px;
}

#inputumuz {
    width: 850px;
    height: 50px;
    
}

#butonumuz{
    height: 50px;
    width: 170px;
    margin-right: 0px;
    color: grey;
}


#list{
    list-style-type: none;
    /* text-decoration-line: line-through; */
}

#silme{
    width: 32px;
    height: 32px;
    float: right;
}

.uls {
    background-color: lightgrey;
}


li{
    font-size: 25px;
}